@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* <------------ Global styles ------------> */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
    width: auto;
}

h2 {
    font-size: 70px;
    color: #585858;
}

:root {
    --foot-width: 90%;
}

footer {
    margin: 0 auto;
    width: var(--foot-width);
    font-size: 18px;
    color: #6F6F6F;
}

hr {
    background-color: #C4C4C4;
    border-radius: 50px;
    border: 0;
    height: 4px;
}

/* <------------ Resources ------------> */

#resources-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

#resources-content img {
    width: 100%;
    height: 80%;
    z-index: -1;
    position: relative;
    top: 90px;
}

#resources-info {
    margin: 25px auto;
    width: 48%;
    text-align: right;
    color: #444343;
}

#resources-content h2 {
    margin-bottom: 50px;
    color: #39A6AD;
}

#resources-content p {
    font-size: 43px;
    margin-bottom: 40px;
}

#resources-content button {
    width: 287px;
    height: 83px;
    font-size: 30px;
    color: white;
    background: #39A6AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0;
}

#resources-content button:hover {
    cursor: pointer;
}

#resources-content footer {
    grid-column: 1 / 3;
}

#resources-content hr {
    grid-column: 1 / 3;
}


/* <------------ Testimonials ------------> */

#testimonial-info {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 40px;
}

#testimonials-content h2 {
    text-align: center;
}

#reviews-container {
    display: flex;
    justify-content: space-around;
}

.review-pic {
    width: 30%;
    height: auto;
    position: relative;
    z-index: 1;
    bottom: 20px;
    display: block;
    margin: 0 auto;
}

.review-person {
    font-weight: bold;
}

.reviews {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 auto;
    width: 35%;
    padding: 30px;
    position: relative;
    bottom: 60px;
}

.reviews p {
    font-size: 25px;
}

.reviews img {
    width: 20%;
    margin: 20px auto;
    height: auto;
}

/* <------------ Internship ------------> */

#internship-content {
    display: flex;
    justify-content: space-between;
}

#internship-content img {
    width: 22%;
    height: 30%;
}

#internship-content img:nth-of-type(2) {
    position: relative;
    top: 280px;
}

#internship-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 92vh;
    width: 45%;
}

#internship-content h2 {
    color: #585858;
}

#internship-content p {
    font-size: 40px;
    color: #444343;
}

#internship-content button {
    width: 287px;
    height: 77px;
    background: #4198B4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    border: 0;
}

#internship-content button:hover {
    cursor: pointer;
}

/* <------------ Discord ------------> */

#discord h2 {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    width: 70%;
}

#discord-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#discord-content span img {
    width: 90%;
    height: auto;
}

#discord-content span p {
    float: left;
    position: relative;
    left: 415px;
    top: 120px;
    z-index: 1;
    font-size: 30px;
    color: #5B6FB4;
    font-weight: bold;
}

#discord-content div img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#discord-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

#discord-info button {
    width: 555px;
    height: 83px;
    font-size: 40px;
    color: white;
    border: 0;
    background: #5B6FB4;
    border-radius: 20px;
    margin: 0 auto;
}