.middle{
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
}

.top{
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 100px;
}

.top .header h1{
  float: left;
  font-weight: 400;
  margin: auto;
  font-size: 84px;
  line-height: 94px;
  text-align: center;
  letter-spacing: -0.05em;

}

.top .header p{
  float: left;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.05em;
  font-weight: 200;
}

